body {
  background-color: #efa;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imgs/messi.jpeg);
}
 
div {
  border: 1px solid #00f;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 3px solid #00f;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: #2f08f5;
	color: rgb(228, 228, 238);
	font-size: 36px;
}
 
.texto{
	margin: 15px;
}
